<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tab-item-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash" badge="3" badge-style="badge-assertive">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Doctors Tab -->
  <ion-tab title="Doctors" icon-off="ion-ios-medical-outline" icon-on="ion-ios-medical" href="#/tab/doctors">
    <ion-nav-view name="tab-doctors"></ion-nav-view>
  </ion-tab>

  <!-- Facilities Tab -->
  <ion-tab nav-clear title="Facilities" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" href="#/tab/facilities">
    <ion-nav-view name="tab-facilities"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
