<ion-view view-title="Facility" ng-init="loadFacility()">
  <ion-content>
    <div class="item item-text-wrap">
      <h2 class="title">
        <i class="ion ion-medkit"></i>
        {{facility.name}}
      </h2>
    </div>
    <div class="item" id="map" ng-model="map" data-tap-disabled="true"></div>
    <ionic-list>
      <div class="item item-text-wrap">
        <ul class="row" style="padding:0; margin:0">
          <li class="col"><font color="#feba0">Rating: {{facility.star}}</font></li>
          <li class="col" style="text-align:right"><p>{{facility.distance}}</p></li>
        </ul>
      </div>
      <div class="item item-text-wrap item-icon-left" ng-show="facility.contact_email">
        <i class="icon ion-ios-email"></i>
        <a href="mailto:{{facility.contact_email}}">{{facility.contact_email}}</a>
      </div>
      <div class="item item-text-wrap item-icon-left" ng-show="facility.contact_phone">
        <i class="icon ion-ios-telephone"></i>
        {{facility.contact_phone}}
      </div>
      <div class="item item-text-wrap item-divider">
        Address
      </div>
      <div class="item item-text-wrap">
        <strong ng-show="facility.house">House&nbsp;</strong>{{facility.house}}
        <strong ng-show="facility.road">&nbsp;Road&nbsp;</strong>{{facility.road}}
        <strong ng-show="facility.area">&nbsp;Area&nbsp;</strong>{{facility.area}}
      </div>
      <div class="item item-text-wrap item-divider">
        Respondent
      </div>
      <div class="item item-text-wrap">
        {{facility.res_name}}
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{facility.res_phone}}
      </div>
    </ionic-list>
  </ion-content>
</ion-view>
