<ion-view view-title="Doctor" ng-init="loadDoc()">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap text-center">
        <img src="img/doctor.png" width="150px">
      </div>
      <div class="item item-text-wrap item-divider">
        <strong>{{doctor.name}}</strong>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        {{doctor.phone}}
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-medkit"></i>
        {{doctor.facilities[0].name}}
      </div>
      <div class="item item-divider">
        About
      </div>
      <div class="item item-text-wrap">
        <p>
          {{doctor.about}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
