<ion-view view-title="Location">
  <ion-content ng-init="centerOnMe()">
    <map on-create="mapCreated(map)"></map>
    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
  </ion-content>
</ion-view>
